<div class="dnd5e chat-card concentrator">
  <div class="card-header flexrow">
    <img src="modules/concentrator/img/concentrating.svg" title="Concentrating" width="36" height="36">
    <h3>Concentrating</h3>
  </div>
  <div class="card-buttons">
    <button>Apply</button>
  </div>
</div>
